@font-face {
    font-family: 'BarbieFont';
    src: url('font/Barbie-font.ttf') format('truetype');
  }
  
  /* Body styles */
  body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(image/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'BarbieFont', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    color: #ff69b4;
  }
  a {
    width: 200px;
    padding: 50px O;
    margin: 20px 10px;
    border-radius: 25px;
    color: #f4f1f3;
    text-decoration: none;
    font-size: 24px; /* Increase the font size */
    border: 2px solid #ff1493;
    background: transparent;
    cursor: pointer;
  }
  
  /* Link hover styles */
  a:hover {
    color: #ff1493;
  }

