
body {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(image/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
table {
  
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

tr td input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

tr:last-child input[type="submit"]{

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff1493;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

a {
  display: inline-block;
  width: 50px;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 12px;
  color:#f4f1f3 ;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid #ff1493;
  background: transparent;
  cursor: pointer;
}

