@font-face {
    font-family: 'BarbieFont';
    src: url('font/Barbie-font.ttf') format('truetype');
  }
  
  /* Body styles */
  body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(image/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'BarbieFont', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

      
  }

  
  body form input[type="submit"] {
    /* CSS styles for the submit button within the form */
    background-color: #ff1493;
    color: #fff;
    padding: 50px 100px;
    border: none;
    cursor: pointer;
    font-size: 50px;
    font-family: 'BarbieFont';
  }
  
